body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scroll */
  font-family: 'Inter', sans-serif; /* Ensure consistent font throughout */
}

.home-section {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.home-intro {
  width: 40%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.home-intro h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

.home-intro p {
  font-size: 1.25em;
  margin-top: 0;
}

.highlighted-name {
  color: red;
  text-decoration: none;
  font-size: 1.25em;
}

.profile-picture-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 70%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
}

.cv-button {
  width: 25%;
  background-color: green;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cv-button:hover {
  background-color: whitesmoke;
  color: #000;
}
@media (max-width: 1024px) {
  .home-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .home-intro {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    text-align: flex-start;
  }

  .profile-picture-container {
    width: 80%;
    margin-top: 20px;
  }

  .profile-picture {
    width: 50%;
  }

  .cv-button {
    width: 40%;
  }
}

/* For Mobile Devices (below 768px) */
@media (max-width: 768px) {
  .home-intro h1 {
    font-size: 1.5em;
  }

  .home-intro p {
    font-size: 1em;
  }

  .highlighted-name {
    font-size: 1em;
  }

  .profile-picture-container {
    width: 100%;
  }

  .profile-picture {
    width: 60%;
  }

  .cv-button {
    width: 50%;
    font-size: 14px;
  }
}

/* For Extra Small Devices (below 480px) */
@media (max-width: 480px) {
  .home-intro h1 {
    font-size: 1.2em;
  }

  .home-intro p {
    font-size: 0.9em;
  }

  .profile-picture {
    width: 50%;
  }

  .cv-button {
    width: 60%;
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

.experience-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
}

.experience-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100vh;
  background-color: white;
}

.experience-content h1 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.skills-section {
  background-color: rgb(255, 248, 238);
  margin: 0;
  box-sizing: border-box;
  padding: 2.5rem 0;
}

.skills-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.skills-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.skills-topic h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.skills-topic p {
  font-size: 20px;
  margin: 0;
}

.skills-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.skills-skill-item {
  flex: 1 1 calc(25% - 2rem);
  max-width: calc(25% - 2rem);
  box-sizing: border-box;
}

.skills-card {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.skills-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.skills-icon {
  width: 5rem;
  height: 7rem;
  border-radius: 10%;
  margin-bottom: 1rem;
  object-fit: contain;
}

.skills-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.skills-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a50505 0%, rgb(164, 1, 1) 100%);
  opacity: 0.2;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.skills-card:hover::before {
  opacity: 0.4;
}

@media (max-width: 768px) {
  /* For tablets and small screens */
  .skills-skill-item {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
  
  .skills-card {
    padding: 1.5rem;
  }

  .skills-icon {
    width: 4rem;
    height: 5rem;
  }

  .skills-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  /* For mobile phones */
  .skills-skill-item {
    flex: 1 1 calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
  
  .skills-card {
    padding: 1rem;
  }

  .skills-icon {
    width: 3rem;
    height: 4rem;
  }

  .skills-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) {
  /* For desktops and large screens */
  .skills-skill-item {
    flex: 1 1 calc(25% - 2rem);
    max-width: calc(25% - 2rem);
  }

  .skills-card {
    padding: 2rem;
  }

  .skills-icon {
    width: 5rem;
    height: 7rem;
  }

  .skills-name {
    font-size: 1.8rem;
  }
}
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 100vh;
  background-color: white;
}

.project-content h1 {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgb(244, 168, 103);
  padding: 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  gap: 20px;
}

.contact-text, .contact-form {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(244, 168, 103);
}

.contact-text h1 {
  font-size: 70px;
  margin-bottom: 60px;
}

.contact-text p {
  font-size: 22px;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: left;
}

.contact-social-media {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  font-size: 24px;
  width: 100%; /* Ensures fluidity */
 
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 100%;
  height: auto;
}

.contact-form input, .contact-form textarea {
  width: 90%;
  max-width: 600px;
  font-size: 20px;
  padding: 17px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: auto;
  min-height: 100px;
}

.contact-form-button {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-form-button button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.contact-form-button .send-button,
.contact-form-button .schedule-button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.contact-form-button .send-button:hover,
.contact-form-button .schedule-button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .contact-text h1 {
    font-size: 25px; /* Reduced font size */
    margin-bottom: 15px;
  }

  .contact-text p {
    font-size: 12px; /* Smaller font size for paragraph */
    margin-bottom: 15px;
  }

  .contact-form input, .contact-form textarea {
    width: 100%; /* Full width to maximize space */
    font-size: 12px; /* Smaller font for input and textarea */
    padding: 12px; /* Slightly reduced padding */
  }

  .contact-form-button {
    flex-direction: column;
    gap: 10px;
  }

  .contact-form-button button {
    width: 100%; /* Full width buttons */
    padding: 12px; /* Adjusted button padding */
  }

  .contact-social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Stack social media icons vertically */
    font-size: 8px; /* Smaller font size */
    gap: 10px; /* Reduced gap between icons */
    width: 100%; /* Full width */
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Reduced gap between text and form */
  }
}

@media (max-width: 480px) {
  .contact-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .contact-text p {
    font-size: 14px;
  }

  .contact-form input, .contact-form textarea {
    width: 100%;
    font-size: 14px;
  }

  .contact-form-button {
    flex-direction: column;
  }

  .contact-social-media {
    flex-direction: column;
    font-size: 10px;
    gap: 10px;
    max-width: 100%; /* Ensures full-width on smaller screens */
  }

  .contact-form-button button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .contact-text h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }

  .contact-text p {
    font-size: 15px;
  }

  .contact-form input, .contact-form textarea {
    width: 95%;
    font-size: 15px;
  }

  .contact-social-media {
    flex-direction: column;
    font-size: 10px; /* Reduces size for better spacing */
    gap: 15px;
  }

  .contact-form-button button {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .contact-text h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .contact-text p {
    font-size: 16px;
  }

  .contact-social-media {
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
  }

  .contact-form input, .contact-form textarea {
    width: 90%;
    font-size: 16px;
  }

  .contact-form-button {
    flex-direction: column;
  }

  .contact-form-button button {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .contact-text h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .contact-text p {
    font-size: 17px;
  }

  .contact-form input, .contact-form textarea {
    width: 85%;
    font-size: 17px;
  }

  .contact-social-media {
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
  }

  .contact-form-button button {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-text, .contact-form {
    width: 100%;
    text-align: center;
  }

  .contact-text h1 {
    font-size: 50px;
  }

  .contact-text p {
    font-size: 18px;
  }

  .contact-social-media {
    flex-direction: row;
    gap: 10px;
    font-size: 22px;
  }

  .contact-form input, .contact-form textarea {
    width: 80%;
    font-size: 18px;
  }
}
